@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
#beans{
    font-family: 'Rubik', sans-serif;
    padding: 20px;
}
#skibidi{
    font-family: 'Rubik', sans-serif, bold;
     padding: 20px;
     font-size: larger;
}